<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            <%console.log(config)%>
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> 版权所有<br>
            陇ICP备15001246号-3
        </div>
    </div>
</footer>
<script src="//cdn1.lncld.net/static/js/2.5.0/av-min.js"></script>
<script src="/js/leancloudConfig.js"></script>
